absl-py==1.0.0
aiohttp==3.7.4.post0
aitextgen==0.5.2
altair==4.2.0
altgraph==0.17.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciichartpy==1.5.25
asgiref==3.7.2
astropy==5.2.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.6.0
backcall==0.2.0
backoff==2.2.1
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==2.2.1
clr-loader==0.2.5
colorama==0.4.4
comm==0.1.3
construct==2.10.68
contourpy==1.0.7
cycler==0.11.0
dask==2023.4.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
discord==1.7.3
discord.py==1.7.3
distlib==0.3.3
Django==4.2.1
django-crispy-forms==1.14.0
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.4.0
fire==0.4.0
Flask==2.0.2
flatbuffers==23.3.3
fonttools==4.39.3
fsspec==2022.1.0
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.53.0
h5py==3.8.0
huggingface-hub==0.4.0
idna==3.3
iiif-downloader==0.0.8
iiif-image-load==0.4.2
iiif2==0.0.32
imageio==2.27.0
importlib-metadata==6.4.1
ipykernel==6.23.1
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.0.1
jax==0.4.8
jedi==0.18.1
Jinja2==3.0.2
joblib==1.2.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.6.3
jupyter_core==5.3.0
jupyterlab-pygments==0.2.1
jupyterlab-widgets==1.1.0
keras==2.13.1
kiwisolver==1.4.4
lazy_loader==0.2
libclang==16.0.0
locket==1.0.0
LRBench==0.0.0.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
MedPy==0.4.0
mistune==0.8.4
ml-dtypes==0.1.0
more-itertools==9.1.0
multidict==5.1.0
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==3.1
notebook==6.4.10
numpy==1.23.5
oauthlib==3.1.1
openai==0.19.0
opencv-python==4.7.0.72
openpyxl==3.0.9
openslide-python==1.2.0
opt-einsum==3.3.0
orjson==3.8.10
packaging==21.3
pandas==1.3.4
pandas-stubs==1.2.0.35
pandocfilters==1.5.0
panimg==0.11.0
parso==0.8.3
partd==1.4.0
pefile==2021.9.3
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
pipreqsnb==0.2.4
platformdirs==3.2.0
pooch==1.7.0
prometheus-client==0.14.1
prompt-toolkit==3.0.38
protobuf==4.22.3
psutil==5.9.0
psycopg2==2.9.6
pure-eval==0.2.2
pyamg==4.2.3
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.7
pydeck==0.7.1
pyDeprecate==0.3.1
pydicom==2.3.1
pyerfa==2.0.0.3
Pygments==2.11.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pylibjpeg==1.4.0
pylibjpeg-libjpeg==1.3.4
pylibjpeg-openjpeg==1.3.2
Pympler==1.0.1
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pythonnet==3.0.1
pytorch-lightning==1.5.9
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyvips==2.2.1
PyWavelets==1.4.1
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==2.0.5
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.4.3
QtPy==2.3.1
regex==2022.1.18
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
sacremoses==0.0.47
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semver==2.13.0
Send2Trash==1.8.0
SimpleITK==2.3.0.dev300
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2
spyql==0.9.0
sqlparse==0.4.4
stack-data==0.2.0
streamlit==1.8.1
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado==0.13.3
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.1.1
tokenizers==0.11.4
toml==0.10.2
toolz==0.11.2
torch==1.11.0.dev20220125+cpu
torchmetrics==0.7.0
tornado==6.1
tqdm==4.62.3
traitlets==5.9.0
transformers==4.16.0
typing_extensions==4.5.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.7
validators==0.18.2
virtualenv==20.10.0
watchdog==2.1.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wget==3.2
widgetsnbextension==3.6.0
wrapt==1.14.1
yarg==0.1.9
yarl==1.6.3
zipp==3.8.0
